<div class="box">
  <button class="btn btn-danger delete" (click)="delete()">X</button>
  <div class="sliderBox">
    <div class="previewBox">
      <img
        onError="this.src = '../assets/images/placeholder-image.png'"
        src="{{ preview }}"
        id="preview"
        alt=""
      />
    </div>
    <hr />
    <div class="slider">
      <div class="uploudBtn">
        <label *ngIf="images.length < 5" for="upload" class="btn btn-success"
          >+</label
        >
        <img
          *ngFor="let image of images; let index = index"
          (click)="display(index)"
          src="{{ image }}"
          alt=""
        />
        <input
          type="file"
          id="upload"
          multiple
          hidden
          (change)="getImages($event)"
        />
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center p-4">
      <button
        (click)="minusImage()"
        class="btn"
        [disabled]="!preview || imageIndex == 0"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        (click)="plusImage()"
        class="btn"
        [disabled]="!preview || imageIndex == images.length - 1"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
